---
import { t } from '@/i18n'
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'profile', text: t('about.headingProfile') },
  { depth: 2, slug: 'blog', text: t('about.headingBlog') }
]
---

<PageLayout title={t('about.title')} titleI18nKey='about.title' {headings} comment>
  <h2 id='profile' data-i18n='about.headingProfile'>{t('about.headingProfile')}</h2>
  <p data-i18n='about.profileIntro'>{t('about.profileIntro')}</p>

  <h2 id='blog' data-i18n='about.headingBlog'>{t('about.headingBlog')}</h2>
  <p data-i18n='about.blogIntro'>{t('about.blogIntro')}</p>
</PageLayout>
