---
import { Button } from 'astro-pure/user'
import { t } from '@/i18n'
import PageLayout from '@/layouts/BaseLayout.astro'

const meta = {
  description: t('error404.description'),
  title: '404'
}
---

<PageLayout {meta}>
  <script is:inline>
    // 获取页面 url，如：https://glownight/posts/experience/attack-lab
    // 根据 / 进行分割，只要最后一段：attack-lab
    // 然后导航到 /blog/ + 最后一段
    // 如：https://glownight/posts/experience/attack-lab -> /blog/attack-lab
    // 然后进行页面跳转
    const url = new URL(window.location.href)
    const path = url.pathname.split('/')
    // 如果发现 posts 字样，则进行页面跳转
    if (path.includes('posts')) {
      const newUrl = `/blog/${path.pop()}`
      // 进行页面跳转
      window.location.href = newUrl
    }
  </script>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <h1 class='block text-7xl font-bold sm:text-9xl'>404</h1>
    <p class='mt-3 text-muted-foreground' data-i18n='error404.oops'>{t('error404.oops')}</p>
    <p class='text-lg' data-i18n='error404.notFound'>{t('error404.notFound')}</p>
    <Button
      title={t('error404.backHome')}
      href='/'
      variant='ahead'
      class='mt-5'
      data-i18n='error404.backHome'
      data-i18n-target='p'
    />
  </div>
</PageLayout>

