---
import { Image } from 'astro:assets'

import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from '@/utils/blog-server'
import { Button, Icon, Label } from 'astro-pure/user'
import { t } from '@/i18n'
import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import avatar from '@/assets/avatar.jpg'
import config from '@/site-config'

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: t('home.title') }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title={t('home.location')} data-i18n='home.location' data-i18n-target='p'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title={t('home.githubLabel')}
            as='a'
            href='https://github.com/glownight'
            target='_blank'
            data-i18n='home.githubLabel'
            data-i18n-target='p'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title={t('home.sectionToday')} i18nKey='home.sectionToday'>
        <div class='flex flex-col gap-2 leading-6 text-muted-foreground'>
          <p data-i18n='home.todayTodoTitle'>💭 {t('home.todayTodoTitle')}</p>
          <p data-i18n='home.todoReadBook'>{t('home.todoReadBook')}</p>
          <p data-i18n='home.todoCheerUp'>{t('home.todoCheerUp')}</p>
        </div>
        <Button
          title={t('home.moreAboutMe')}
          class='w-fit self-end'
          href='/about'
          variant='ahead'
          data-i18n='home.moreAboutMe'
          data-i18n-target='p'
        />
      </Section>

      {
        allPostsByDate.length > 0 && (
          <Section title={t('home.sectionPosts')} i18nKey='home.sectionPosts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((post) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={post} />
                </li>
              ))}
            </ul>
            <Button
              title={t('home.morePosts')}
              class='w-fit self-end'
              href='/blog'
              variant='ahead'
              data-i18n='home.morePosts'
              data-i18n-target='p'
            />
          </Section>
        )
      }
    </div>
  </main>
</PageLayout>
